#months {
    margin-top: 1em;
}

.month.panel-body {
    padding: 15px 15px 0 15px !important;
}

.task-title {
    font-size: 1.2em;
    font-weight: bolder;
}

.task-person {
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 0.5em;
}

.task-date {
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
    float: right;
}

.task-toggle {
    text-decoration: none;
    color: black;
}

.task-toggle:hover {
    text-decoration: none;
}

.task-toggle:focus {
    text-decoration: none;
    color: black;
}